*{
    padding: 0;
    margin: 0;
}

.wrapper{
    max-width: 984px;
    margin: auto;
    
}
.wrapperUserComment{
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 10px;
    padding-bottom: 15px;
    word-break: break-word;
    border-bottom: 1px solid gainsboro;
}
.avatar{
    width: 35px;
    height: 35px;
    background-color: pink;
    border-radius: 50%;
}
.author{
   margin-top: 2px;
}
.text{
    font-size: 13px;
}
.wrapperActions{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 13px;
}
.date{
    color: #747E89;
}
.reply{
    all: unset;
    cursor: pointer;
    color: #2a5885;
    margin-left: 8px;
    
}
.like{
    all: unset;
}
.wrapperInput{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.inputArea{
    height: 34px;
    margin-left: 15px;
    border-radius: 10px;
    padding: 7px; 
}

.sendComment{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}