.divWrapper{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}
.divWrapperInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 202px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 8px 0px 5px;
}
.divWrapperInput.darkMode{
    border: 1px solid #cdcdcd;
}

.inputSearch{
    all: unset;
    width: 150px;
}
.inputSearch.darkMode{
    color:#cdcdcd;
}
.imgCrossSearchInput{
    cursor: pointer;
}
.spanInputFoundText{
    margin-left: 5px;
}
.inputSearch::placeholder{
    font-size: 15px;
    color: #615f5f;
}
.inputSearch.darkMode::placeholder{
    color:#cdcdcd;
}

.goBackBtn{
    all: unset;
    cursor: pointer;
    color: #206dc5;
}
.goBackBtn.darkMode{
    color:#cdcdcd;
}
.goBackBtn.darkMode:hover{
    color:#5399e9;
}
.goBackBtn.systemMode:hover{
    color:#064286;
}