*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scrollbar-gutter: stable;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    transition-property:background-color;
    transition-duration: 0.5s;
}
.wrapperContent{
    max-width: 1024px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 20px;
    transition-property:background-color;
    transition-duration: 0.5s;
}
.wrapperCountComments{
    display: flex;
    position:relative;
    align-items:center;
    max-width:185px;
    margin-top: 10px;
    cursor: pointer;
}
.countComments{
    color: #056DF4;
    margin-left: 5px;
}

.wrapperContent.darkMode{
    background-color: #17212B;
}
.darkMode{
    background-color: #070B11;
}
.systemMode{
    background-color: white;
}
.wrapperTimer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

