.wrapper{
    display: flex;
    align-items: center;
}
.timer{
    transition-property: color;
    transition-duration: 0.3s;
    margin-top: 7px ;
}
.systemMode{
    color:black;
}
.darkMode{
    color:#cdcdcd;
}
